# **This exercise will explore the use of Pandas for a simple data analysis.**

In [1]:
# import pandas
import pandas as pd

# loading data into dataframe
df = pd.read_csv('/kaggle/input/destination/Destination.csv')

Use 'df' to display the whole data.

In [2]:
df

      id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
0    1.0     New Zealand       9.0         4.0            5.0         Rotura
1    2.0      North Pole       8.0         4.0            6.0       Svalbard
2    3.0    Turkmenistan       7.0         3.0            9.0        Derweze
3    4.0          Russia       8.0         5.0           17.0  Yekaterinburg
4    5.0         Austria       9.0         4.0           12.0    Hinterbruhl
5    6.0           China       8.0         3.0          198.0       Xinjiang
6    7.0           Italy       9.0         5.0           76.0         Puglia
7    8.0          France       6.0         3.0           24.0         Nantes
8    9.0           India       8.0         3.0           45.0         Ladakh
9   10.0       Indonesia       9.0         4.0           80.0           Aceh
10  11.0           Japan      10.0         5.0           90.0          Beppu
11  12.0          Turkey       9.0         4.0           54.0        Faralya
12  13.0       Palestine       9.0         3.0            5.0      Jerusalem
13  14.0            Oman       7.0         5.0            2.0          Bahla
14  15.0  United Kingdom       7.0         4.0           20.0         London
15   NaN             NaN       NaN         NaN            NaN            NaN
16   NaN             NaN       NaN         NaN            NaN            NaN

If you have more than 1000+ rows, only displays the first 5 rows of dataset, use 'head(10)' to display 10 rows.

In [3]:
df.head()

    id   Destination  Feedback  Avg Rating  All in Hotels   Most Popular
0  1.0   New Zealand       9.0         4.0            5.0         Rotura
1  2.0    North Pole       8.0         4.0            6.0       Svalbard
2  3.0  Turkmenistan       7.0         3.0            9.0        Derweze
3  4.0        Russia       8.0         5.0           17.0  Yekaterinburg
4  5.0       Austria       9.0         4.0           12.0    Hinterbruhl

In [4]:
df.head(10)

     id   Destination  Feedback  Avg Rating  All in Hotels   Most Popular
0   1.0   New Zealand       9.0         4.0            5.0         Rotura
1   2.0    North Pole       8.0         4.0            6.0       Svalbard
2   3.0  Turkmenistan       7.0         3.0            9.0        Derweze
3   4.0        Russia       8.0         5.0           17.0  Yekaterinburg
4   5.0       Austria       9.0         4.0           12.0    Hinterbruhl
5   6.0         China       8.0         3.0          198.0       Xinjiang
6   7.0         Italy       9.0         5.0           76.0         Puglia
7   8.0        France       6.0         3.0           24.0         Nantes
8   9.0         India       8.0         3.0           45.0         Ladakh
9  10.0     Indonesia       9.0         4.0           80.0           Aceh

Use 'tail()' to show the last 5 rows. You can use 'tail(10) to show the last 10 rows.

In [5]:
df.tail()

      id     Destination  Feedback  Avg Rating  All in Hotels Most Popular
12  13.0       Palestine       9.0         3.0            5.0    Jerusalem
13  14.0            Oman       7.0         5.0            2.0        Bahla
14  15.0  United Kingdom       7.0         4.0           20.0       London
15   NaN             NaN       NaN         NaN            NaN          NaN
16   NaN             NaN       NaN         NaN            NaN          NaN

In [6]:
df.tail(8)

      id     Destination  Feedback  Avg Rating  All in Hotels Most Popular
9   10.0       Indonesia       9.0         4.0           80.0         Aceh
10  11.0           Japan      10.0         5.0           90.0        Beppu
11  12.0          Turkey       9.0         4.0           54.0      Faralya
12  13.0       Palestine       9.0         3.0            5.0    Jerusalem
13  14.0            Oman       7.0         5.0            2.0        Bahla
14  15.0  United Kingdom       7.0         4.0           20.0       London
15   NaN             NaN       NaN         NaN            NaN          NaN
16   NaN             NaN       NaN         NaN            NaN          NaN

# **Pandas Two Main Data Structures**
1. Series
2. Dataframes - regular dataset (data in tabular format)

1. Series data structure as follows:

In [7]:
df.Destination # series, will display data as a single column

0        New Zealand
1         North Pole
2       Turkmenistan
3             Russia
4            Austria
5              China
6              Italy
7             France
8              India
9          Indonesia
10             Japan
11            Turkey
12         Palestine
13              Oman
14    United Kingdom
15               NaN
16               NaN
Name: Destination, dtype: object

In [8]:
df.columns # this displays titles of all columns

Index(['id', 'Destination', 'Feedback', 'Avg Rating', 'All in Hotels',
       'Most Popular'],
      dtype='object')

In [9]:
df.index # how many rows

RangeIndex(start=0, stop=17, step=1)

In [10]:
df.shape # return a tuple (rows, columns)

(17, 6)

In [11]:
df.dtypes # will display data type stored in each row, object means string

id               float64
Destination       object
Feedback         float64
Avg Rating       float64
All in Hotels    float64
Most Popular      object
dtype: object

In [12]:
df.info() # info about dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15 non-null     float64
 1   Destination    15 non-null     object
 2   Feedback       15 non-null     float64
 3   Avg Rating     15 non-null     float64
 4   All in Hotels  15 non-null     float64
 5   Most Popular   15 non-null     object
dtypes: float64(4), object(2)
memory usage: 944.0+ bytes

In [13]:
df.Feedback # display only Feedback column

0      9.0
1      8.0
2      7.0
3      8.0
4      9.0
5      8.0
6      9.0
7      6.0
8      8.0
9      9.0
10    10.0
11     9.0
12     9.0
13     7.0
14     7.0
15     NaN
16     NaN
Name: Feedback, dtype: float64

In [14]:
df.xs('Most Popular', axis=1) # if column has a space then need to use .xs and brackets along with a value for the axis

0            Rotura
1          Svalbard
2           Derweze
3     Yekaterinburg
4       Hinterbruhl
5          Xinjiang
6            Puglia
7            Nantes
8            Ladakh
9              Aceh
10            Beppu
11          Faralya
12        Jerusalem
13            Bahla
14           London
15              NaN
16              NaN
Name: Most Popular, dtype: object

In [15]:
df[['Destination', 'Feedback']].head() # select only 2 columns and first 5 rows

    Destination  Feedback
0   New Zealand       9.0
1    North Pole       8.0
2  Turkmenistan       7.0
3        Russia       8.0
4       Austria       9.0

In [16]:
# use formal python indexing to select rows
df[4:10]

     id Destination  Feedback  Avg Rating  All in Hotels Most Popular
4   5.0     Austria       9.0         4.0           12.0  Hinterbruhl
5   6.0       China       8.0         3.0          198.0     Xinjiang
6   7.0       Italy       9.0         5.0           76.0       Puglia
7   8.0      France       6.0         3.0           24.0       Nantes
8   9.0       India       8.0         3.0           45.0       Ladakh
9  10.0   Indonesia       9.0         4.0           80.0         Aceh

In [17]:
#use df.iloc to get spectific rows and columns usng python indexing e.g. [start row:stop row, [column0, column1, column 3]]
df.iloc[1:4, [1, 2, 3]]

    Destination  Feedback  Avg Rating
1    North Pole       8.0         4.0
2  Turkmenistan       7.0         3.0
3        Russia       8.0         5.0

In [18]:
#use 'loc()' to get data from particular column
df.loc[1:11, 'Avg Rating']

1     4.0
2     3.0
3     5.0
4     4.0
5     3.0
6     5.0
7     3.0
8     3.0
9     4.0
10    5.0
11    4.0
Name: Avg Rating, dtype: float64

Renaming column name

In [19]:
df.rename(columns = {'Avg Rating' : 'Avg_Rating'}).head()

    id   Destination  Feedback  Avg_Rating  All in Hotels   Most Popular
0  1.0   New Zealand       9.0         4.0            5.0         Rotura
1  2.0    North Pole       8.0         4.0            6.0       Svalbard
2  3.0  Turkmenistan       7.0         3.0            9.0        Derweze
3  4.0        Russia       8.0         5.0           17.0  Yekaterinburg
4  5.0       Austria       9.0         4.0           12.0    Hinterbruhl

In [20]:
df.rename(columns = {'All in Hotels' : 'Hotel_Count', 'Most Popular' : '#1_Destination'}).head()

    id   Destination  Feedback  Avg Rating  Hotel_Count #1_Destination
0  1.0   New Zealand       9.0         4.0          5.0         Rotura
1  2.0    North Pole       8.0         4.0          6.0       Svalbard
2  3.0  Turkmenistan       7.0         3.0          9.0        Derweze
3  4.0        Russia       8.0         5.0         17.0  Yekaterinburg
4  5.0       Austria       9.0         4.0         12.0    Hinterbruhl

# Statistical Analysis of Dataframe

In [21]:
df.describe() # get statistical analysis

              id   Feedback  Avg Rating  All in Hotels
count  15.000000  15.000000   15.000000      15.000000
mean    8.000000   8.200000    3.933333      42.866667
std     4.472136   1.082326    0.798809      52.398019
min     1.000000   6.000000    3.000000       2.000000
25%     4.500000   7.500000    3.000000       7.500000
50%     8.000000   8.000000    4.000000      20.000000
75%    11.500000   9.000000    4.500000      65.000000
max    15.000000  10.000000    5.000000     198.000000

In [22]:
df.sort_values('Feedback') # sort table according to one column from low to high

      id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
7    8.0          France       6.0         3.0           24.0         Nantes
2    3.0    Turkmenistan       7.0         3.0            9.0        Derweze
13  14.0            Oman       7.0         5.0            2.0          Bahla
14  15.0  United Kingdom       7.0         4.0           20.0         London
1    2.0      North Pole       8.0         4.0            6.0       Svalbard
3    4.0          Russia       8.0         5.0           17.0  Yekaterinburg
5    6.0           China       8.0         3.0          198.0       Xinjiang
8    9.0           India       8.0         3.0           45.0         Ladakh
0    1.0     New Zealand       9.0         4.0            5.0         Rotura
4    5.0         Austria       9.0         4.0           12.0    Hinterbruhl
6    7.0           Italy       9.0         5.0           76.0         Puglia
9   10.0       Indonesia       9.0         4.0           80.0           Aceh
11  12.0          Turkey       9.0         4.0           54.0        Faralya
12  13.0       Palestine       9.0         3.0            5.0      Jerusalem
10  11.0           Japan      10.0         5.0           90.0          Beppu
15   NaN             NaN       NaN         NaN            NaN            NaN
16   NaN             NaN       NaN         NaN            NaN            NaN

In [23]:
df.sort_values('Feedback', ascending = False).head() # sort table according to one column from high to low

      id  Destination  Feedback  Avg Rating  All in Hotels Most Popular
10  11.0        Japan      10.0         5.0           90.0        Beppu
0    1.0  New Zealand       9.0         4.0            5.0       Rotura
4    5.0      Austria       9.0         4.0           12.0  Hinterbruhl
6    7.0        Italy       9.0         5.0           76.0       Puglia
9   10.0    Indonesia       9.0         4.0           80.0         Aceh

In [24]:
df.sort_values(['Avg Rating', 'Destination'], ascending = [False, True])
#First, Avg Rating col from high to low
#Second, if Avg Rating is the same, sort Destination col in alphabetical order

      id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
6    7.0           Italy       9.0         5.0           76.0         Puglia
10  11.0           Japan      10.0         5.0           90.0          Beppu
13  14.0            Oman       7.0         5.0            2.0          Bahla
3    4.0          Russia       8.0         5.0           17.0  Yekaterinburg
4    5.0         Austria       9.0         4.0           12.0    Hinterbruhl
9   10.0       Indonesia       9.0         4.0           80.0           Aceh
0    1.0     New Zealand       9.0         4.0            5.0         Rotura
1    2.0      North Pole       8.0         4.0            6.0       Svalbard
11  12.0          Turkey       9.0         4.0           54.0        Faralya
14  15.0  United Kingdom       7.0         4.0           20.0         London
5    6.0           China       8.0         3.0          198.0       Xinjiang
7    8.0          France       6.0         3.0           24.0         Nantes
8    9.0           India       8.0         3.0           45.0         Ladakh
12  13.0       Palestine       9.0         3.0            5.0      Jerusalem
2    3.0    Turkmenistan       7.0         3.0            9.0        Derweze
15   NaN             NaN       NaN         NaN            NaN            NaN
16   NaN             NaN       NaN         NaN            NaN            NaN

In [25]:
df['All in Hotels'].max() # highest value in specific column

198.0

In [26]:
df['Feedback'].max()

10.0

Which destination has more than 4 stars avg rating?

In [27]:
df_filter = df[df['Avg Rating'] > 3] # filter to only show hotels with avg rating above 3
destination = df_filter['Destination'] # pick which rows to show

In [28]:
destination # run variable "destination" which will show all destinations with avg rating above 3

0        New Zealand
1         North Pole
3             Russia
4            Austria
6              Italy
9          Indonesia
10             Japan
11            Turkey
13              Oman
14    United Kingdom
Name: Destination, dtype: object

Display all destinations with feedback of 7 or more

In [29]:
df_filtertwo = df[df['Feedback'] >= 7]
feedback = df_filtertwo['Destination']
feedback

0        New Zealand
1         North Pole
2       Turkmenistan
3             Russia
4            Austria
5              China
6              Italy
8              India
9          Indonesia
10             Japan
11            Turkey
12         Palestine
13              Oman
14    United Kingdom
Name: Destination, dtype: object

**End exercise, well done me!**